<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Benjamin Brkic | Freelance Full Stack Web Developer</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta
      name="description"
      content="Hello there, I am Benjamin, a full-stack web developer 👋. I strive to deliver the best possible digital products using the latest industry standards." />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="canonical" href="http://www.benjaminbrkic.com/" />
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary" />

    <!-- Open Graph tags -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Benjamin Brkic 👨‍💻 | Freelance Full Stack Web Developer" />
    <meta
      property="og:description"
      content="Hello there, I am Benjamin, a full-stack web developer 👋. I strive to deliver the best possible digital products using the latest industry standards." />
    <meta property="og:url" content="https://www.benjaminbrkic.com/" />
    <meta
      property="og:site_name"
      content="Benjamin Brkic 👨‍💻 | Freelance Full Stack Web Developer" />
    <meta
      property="og:image"
      content="https://ik.imagekit.io/benyo/profilePicSmall_xGywq2h7g?ik-sdk-version=javascript-1.4.3&updatedAt=1646611004683&tr=w-1200%2Ch-628%2Cfo-auto" />

    <!-- Twitter Cards -->
    <meta
      name="twitter:title"
      content="Benjamin Brkic 👨‍💻 | Freelance Full Stack Web Developer" />
    <meta
      name="twitter:description"
      content="Hello there, I am Benjamin, a full-stack web developer 👋. I strive to deliver the best possible digital products using the latest industry standards." />
    <meta
      name="twitter:image"
      content="https://ik.imagekit.io/benyo/profilePicSmall_xGywq2h7g?ik-sdk-version=javascript-1.4.3&updatedAt=1646611004683&tr=w-1200%2Ch-675%2Cfo-auto" />
    <meta name="twitter:site" content="@bnjmnbrkc" />
    <meta name="twitter:creator" content="@bnjmnbrkc" />

    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <link rel="stylesheet" href="/static/css/globals.css" />
  </head>
  <body>
    <nav class="p-8 pt-12 text-2xl text-black transition-all dark:text-white">
      <!-- TODO: Add isActive -->
      <ul class="flex items-center justify-center gap-8">
        <li class="transition-all hover:text-blue-500">
          <a href="/">Home</a>
        </li>
        <li class="transition-all hover:text-blue-500">
          <a href="/work">Work</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
